.container h3 {
  font-weight: bold;
  font-size: 24px;
}

.section {
  margin-top: 10px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
}

.grid3 a {
  flex: 1 1 30%;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 0;
}

.grid5 a {
  flex: 1 1 17%;
}
